@charset "UTF-8";


	.layout{
    max-width: 600px;
    margin: 0 auto;
}

	.qna{
    list-style: none;
    margin: 0;
    padding: 0;
}

	.qna > li{
	padding: 10px 0;
	box-sizing: border-box;
}

	.qna > li:nth-child(n+2){ /* 아이템 구분 점선 */
	border-top: 1px dashed #aaa;
	width: 50%;
}

	.qna input {
	display: none;
}

	.qna label { /* 제목 - 클릭 영역 */
	font-weight: bold;
	color: #000;
	margin: 20px 0 0;
	cursor: pointer;
}

	.qna label::before { /* 제목 앞 화살표 */
	content: "▶";
	display: inline-block;
  	color: #a00;
  	margin-right: 8px;
  
}

	.qna input:checked + label::before { /* 내용 펼침 상태 제목 앞 화살표 */
  	content: "▼";
}

	.qna div { /* 내용 영역 - 기본 감춤 상태 */
  	display: none;
  	color: #666;
  	font-size: 0.9;
  	overflow: hidden;
  	padding: 10px 0 10px 30px;
 	box-sizing: border-box;
  	transition: max-height 0.4s;
}

	.qna input:checked + label + div { /* 내용 영역 펼침 */
	display: block;
}
	
	  .button {
	  display: inline-block;
	  border-radius: 4px;
	  background-color: black;
	  border: none;
	  color: white;
	  text-align: center;
	  font-size: 15px;
	  padding: 10px;
	  width: 120px;
	  transition: all 0.5s;
	  cursor: pointer;
	  margin-top: 5px;
	  margin-left: 520px;
}

	.button span {
	  cursor: pointer;
	  display: inline-block;
	  position: relative;
	  transition: 0.5s;
}

	.button span:after {
	  content: '\00bb';
	  position: absolute;
	  opacity: 0;
	  top: 0;
	  right: -20px;
	  transition: 0.5s;
}

	.button:hover span {
	  padding-right: 20px;
}

	.button:hover span:after {
	  opacity: 1;
	  right: 0;
}
	
